/* .output{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 25%;
}

.oneToPlus{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 25%;

}

.oneToPlus div{
    margin: 10px;
    border: 1px solid black;

    
} */

.container{
    display: grid;
    justify-content: center;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
}

.item-header{
    grid-area: header;

}
    
.item-footer{
    grid-area: footer;
}

.btn{
    background-color: gray;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    /* border-radius: 50%; */
}